/*
  Header & Footer / Navigation styling
*/
header{
	padding: 20px ;
	border: 0px solid #000000;
	width:100%;
	margin: 0;
}

header .row,
footer .row{
	display: flex;
	align-items: center;
	
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  
}

header p {
  padding: 0 20px;
  margin: 0;
}

/*
  Nav Bar Formatting with active highlight
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #666666;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

/*
 Jumbotron styling 
*/
.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  background-color: #333333;
  height: 32px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: #CCCCCC;
	text-align: center;
}

.jumbotron p {
    font-family: "Times New Roman";
    font-size: 20px;
	color: #AAAAAA;	
	text-align: center;
}

/* 
  Supporting Content Styling
*/
section .row img {
	/*
  max-width: 100%;
  height: auto;
  */
  /*
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
 */
  height: 100%;
  width: 100%;  
}

.col-md-6 {
  margin: 0 0 30px;
}

/* CSS Styling for kb HTML */
body {
	background-color: #222222
}
h1 {
    color: #CCCCCC;
    text-align: center;
}

h2 {
    color: #BBBBBB;
    text-align: left;
}

h3 {
    color: #AAAAAA;
    text-align: left;
}

h3.navTitle{
    color: #AAAAAA;
    text-align: left;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
	color: #AAAAAA
}
p.centeredP {
    font-family: "Times New Roman";
    font-size: 20px;
	color: #AAAAAA;
	text-align: center;
}
p.navLink{
    display: inline;
	padding: 10px;
}

/* unvisited link */
a:link {
    color: #ffffff;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #ffffff;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ffffff;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: #ffffff;
	text-decoration: underline;
}

/* Modal Style - W3Schools */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1920px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}