<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Shields"
	indexPageName="ShieldsGallery.html"

>
  <image imageURL="images/myshield006fromnov20spherev001v01.jpg"
	thumbURL="thumbs/myshield006fromnov20spherev001v01.jpg"
	linkURL="images/myshield006fromnov20spherev001v01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\kbrow_000\Documents\GitHub\kbrown2193.github.io\images\myshield006fromnov20spherev001v01.png">
    <title><![CDATA[myshield006fromnov20spherev001v01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/myshield006fromnov20spherev010v01.jpg"
	thumbURL="thumbs/myshield006fromnov20spherev010v01.jpg"
	linkURL="images/myshield006fromnov20spherev010v01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\kbrow_000\Documents\GitHub\kbrown2193.github.io\images\myshield006fromnov20spherev010v01.png">
    <title><![CDATA[myshield006fromnov20spherev010v01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/myshield006fromnov20spherev018v01.jpg"
	thumbURL="thumbs/myshield006fromnov20spherev018v01.jpg"
	linkURL="images/myshield006fromnov20spherev018v01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\kbrow_000\Documents\GitHub\kbrown2193.github.io\images\myshield006fromnov20spherev018v01.png">
    <title><![CDATA[myshield006fromnov20spherev018v01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/myshield006fromnov20spherev022v01.jpg"
	thumbURL="thumbs/myshield006fromnov20spherev022v01.jpg"
	linkURL="images/myshield006fromnov20spherev022v01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\kbrow_000\Documents\GitHub\kbrown2193.github.io\images\myshield006fromnov20spherev022v01.png">
    <title><![CDATA[myshield006fromnov20spherev022v01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>